* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background-color: #ebf5d9;
}

header {
    text-align: center;
    font-size: 20px;
    padding: 1vw;
    background-color: #545E56;
    color: #ebf5d9;
}

form {
    text-align: center;
    margin: 10px 5vw 0 5vw;
    font-size: 20px;
    border: #545E56 solid 2px;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
}

form h3 {
    color: #545E56;
    margin: 5px;
}

#itemInput, #itemPrioritySelect, #itemAddBtn, #changeToAddBtn{
    margin: 10px;
    font-size: 20px;
    padding: 2px;
}

.high{
    background-color: #545E56;
}

.medium{
    background-color: #667761;
}

.low{
    background-color: #98B06F;
}

.complete{
    background-color: #c9c9c9;
    color: #373737;
}

ul {
    border: #545E56 solid 2px;
    border-top: none;
    margin: 0 5vw;
}

li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    color: #ffffff;
    padding: 5px;
}


#allButtons {
    width: 120px; 
    text-align: end;
 }

li button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
    color: #ffffff;
}

@media screen and (max-width: 1000px) {
    #itemInput{
        margin-right: 15px;
    }
}